@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
.home-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.greetings {
    font-size: 7rem;
    color: #3d5290;
    font-family: 'Playfair', sans-serif;
    display: block;
    font-weight: 400;

}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ede8f5;
    
}
.intro-text {
    font-size: 0.8rem;
}
.parent-home-container {
    display: flex;
    flex-direction: column;
}
.heading-intro {
    text-align: center;
    font-family:  'Playfair', sans-serif;
    font-size: 3rem;
    color: #3d5290;
    text-decoration: underline;
}
.skills {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    
}
.skills p {
    width: 120px;
}
@media (max-width: 780px) {
    .home-container {
        display: flex;
        flex-direction:column-reverse;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
}