.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-container {
    display: flex;
    align-items: center;
    gap: 20px;
}
.list-container li {
    list-style: none;
}